@page
@model PriceMaster.Views.Administrator.ConfigurationParametersViewModel
@{
    ViewData["Title"] = "Site Settings";
}

<h1>Site Settings</h1>

@if (Model.ContentSaved)
{
    <div class="alert alert-success" role="alert">
        Content saved successfully!
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label for="IVA">IVA</label>
                <input type="text" class="form-control" id="IVA" name="IVA" value="@Model.ConfigurationParameter.IVA">
            </div>
            <div class="form-group">
                <label for="ScortaMinima">Scorta Minima</label>
                <input type="text" class="form-control" id="ScortaMinima" name="ScortaMinima" value="@Model.ConfigurationParameter.ScortaMinima">
            </div>
            <div class="form-group">
                <label for="RicaricoMinimo">Ricarico Minimo</label>
                <input type="text" class="form-control" id="RicaricoMinimo" name="RicaricoMinimo" value="@Model.ConfigurationParameter.RicaricoMinimo">
            </div>
            <div class="form-group">
                <label for="SpeseSpedizioneListino">Spese Spedizione Listino</label>
                <input type="text" class="form-control" id="SpeseSpedizioneListino" name="SpeseSpedizioneListino" value="@Model.ConfigurationParameter.SpeseSpedizioneListino">
            </div>
            <div class="form-group">
                <label for="MargineSSMinimo">Margine SS Minimo</label>
                <input type="text" class="form-control" id="MargineSSMinimo" name="MargineSSMinimo" value="@Model.ConfigurationParameter.MargineSSMinimo">
            </div>
            <div class="form-group">
                <label for="DifferenzaMinima">Differenza Minima</label>
                <input type="text" class="form-control" id="DifferenzaMinima" name="DifferenzaMinima" value="@Model.ConfigurationParameter.DifferenzaMinima">
            </div>
            <div class="form-group">
                <label for="SpeseSpedizioneRivenditore">Spese Spedizione Rivenditore</label>
                <input type="text" class="form-control" id="SpeseSpedizioneRivenditore" name="SpeseSpedizioneRivenditore" value="@Model.ConfigurationParameter.SpeseSpedizioneRivenditore">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

