@model PriceMaster.ViewModels.ConfigurationParameterViewModel

<div class="container">
    <h1>Modifica Parametri di Configurazione</h1>

    <form method="post">
        <div class="form-group">
            <label for="IVA" class="control-label">IVA</label>
            <input id="IVA" name="IVA" class="form-control" value="@Model.IVA" />
            <span class="text-danger" data-valmsg-for="IVA" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="ScortaMinima" class="control-label">Scorta Minima</label>
            <input id="ScortaMinima" name="ScortaMinima" class="form-control" value="@Model.ScortaMinima" />
            <span class="text-danger" data-valmsg-for="ScortaMinima" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="RicaricoMinimo" class="control-label">Ricarico Minimo</label>
            <input id="RicaricoMinimo" name="RicaricoMinimo" class="form-control" value="@Model.RicaricoMinimo" />
            <span class="text-danger" data-valmsg-for="RicaricoMinimo" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="SpeseSpedizioneListino" class="control-label">Spese Spedizione Listino</label>
            <input id="SpeseSpedizioneListino" name="SpeseSpedizioneListino" class="form-control" value="@Model.SpeseSpedizioneListino" />
            <span class="text-danger" data-valmsg-for="SpeseSpedizioneListino" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="MargineSSMinimo" class="control-label">Margine SS Minimo</label>
            <input id="MargineSSMinimo" name="MargineSSMinimo" class="form-control" value="@Model.MargineSSMinimo" />
            <span class="text-danger" data-valmsg-for="MargineSSMinimo" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="DifferenzaMinima" class="control-label">Differenza Minima</label>
            <input id="DifferenzaMinima" name="DifferenzaMinima" class="form-control" value="@Model.DifferenzaMinima" />
            <span class="text-danger" data-valmsg-for="DifferenzaMinima" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="SpeseSpedizioneRivenditore" class="control-label">Spese Spedizione Rivenditore</label>
            <input id="SpeseSpedizioneRivenditore" name="SpeseSpedizioneRivenditore" class="form-control" value="@Model.SpeseSpedizioneRivenditore" />
            <span class="text-danger" data-valmsg-for="SpeseSpedizioneRivenditore" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="ValidFrom" class="control-label">Valido dal</label>
            <input id="ValidFrom" name="ValidFrom" class="form-control" value="@Model.ValidFrom" />
            <span class="text-danger" data-valmsg-for="ValidFrom" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="ValidTo" class="control-label">Valido fino al</label>
            <input id="ValidTo" name="ValidTo" class="form-control" value="@Model.ValidTo" />
            <span class="text-danger" data-valmsg-for="ValidTo" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salva</button>
        </div>
    </form>
</div>

